<%- include("../partials/header.ejs")%>

<header>

    <a href="/" class="logo">VCARDMAKERS</a>

    <div class="title newcard_status">
        <p>STEP 1 of 6</p>  
        <h2>Templates</h2>
    </div>  

    <div class="profileContainer">
        <div class="profile"></div>
        <i class="fa-solid fa-angle-down" id="profile_drop_down"></i>

        <div class="profileOptions">
            <a href="">Settings</a>
            <a href="">Logout</a>
        </div>
    </div>

</header>

<div class="vcard_hero_container">

    <div class="hero_text">
        <h1>Choose a template to create your new visiting card</h1>
        <p>Pick your favorite! You'll be able to change it later</p>
        <div class="sort_template">
            <button class="active">All</button>
            <button>Modern</button>
            <button>Minimalist</button>
            <button>Classic</button>
        </div>
    </div>
    
    <div class="templates_container">

        <div class="template_item">
            <img src="/images/templates/temp1.jpg" alt="">
            <a href="/editor/newvcard/<%=vid%>/edit/contact-information"><i class="fa-solid fa-pen-to-square"></i> USE THIS TEMPLATE</a>
        </div>

        <div class="template_item">
            <img src="/images/templates/temp1.jpg" alt="">
            <a href="/editor/newvcard/<%=vid%>/edit/contact-information"><i class="fa-solid fa-pen-to-square"></i> USE THIS TEMPLATE</a>
        </div>

        <div class="template_item">
            <img src="/images/templates/temp1.jpg" alt="">
            <a href="/editor/newvcard/<%=vid%>/edit/contact-information"><i class="fa-solid fa-pen-to-square"></i> USE THIS TEMPLATE</a>
        </div>

        <div class="template_item">
            <img src="/images/templates/temp1.jpg" alt="">
            <a href="/editor/newvcard/<%=vid%>/edit/contact-information"><i class="fa-solid fa-pen-to-square"></i> USE THIS TEMPLATE</a>
        </div>

        <div class="template_item">
            <img src="/images/templates/temp1.jpg" alt="">
            <a href="/editor/newvcard/<%=vid%>/edit/contact-information"><i class="fa-solid fa-pen-to-square"></i> USE THIS TEMPLATE</a>
        </div>
        <div class="template_item">
            <img src="/images/templates/temp1.jpg" alt="">
            <a href="/editor/newvcard/<%=vid%>/edit/contact-information"><i class="fa-solid fa-pen-to-square"></i> USE THIS TEMPLATE</a>
        </div>

    </div>


</div>
<!-- 
<div class="vcardContainer">

    <div class="vcard_add">
        
        <a href="/api/editor/newvcard">
            <i class="fa-solid fa-plus"></i>
        </a>
        <p>NEW VCARD</p>
    </div>
    <div class="vcard_item"></div>
</div> -->

<script>

    let dropDown = document.querySelector("#profile_drop_down");
    let profileOptions = document.querySelector(".profileOptions");

    dropDown.onclick = ()=>
    {
        profileOptions.style.display = profileOptions.style.display == "flex" ? "none" : "flex"; 
    }
    
    this.document.title= "Template | vcardmakers";

</script>

<%- include("../partials/footer.ejs")%>